@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 150px;
margin-top: 158px;
width: 174px;
height: 25px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsdum.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 27px;
height: 100%;
align-self: stretch;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 1.1875em;
margin-left: 10px;
margin-top: 2px;
height: 0px;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 123px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 13px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 13px;
margin-top: 11px;
width: 8px;
height: 8px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 1.1875em;
margin-top: 6px;
height: 0px;
align-self: center;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 0.6875em;
margin-left: 161px;
margin-top: 14px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-left: 219px;
margin-top: 134px;
width: 159px;
height: 159px;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsd9r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 32px;
width: 98px;
height: 105px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsd2f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
width: 59px;
height: 59px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 307px;
margin-top: 324px;
width: 356px;
height: 51px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsdum.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 55px;
height: 100%;
align-self: stretch;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.432em;
margin-left: 20px;
margin-top: 4px;
height: 0px;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 252px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 27px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 27px;
margin-top: 23px;
width: 16px;
height: 16px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.432em;
margin-top: 12px;
height: 0px;
align-self: center;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.408em;
margin-left: 330px;
margin-top: 29px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-left: 449px;
margin-top: 274px;
width: 326px;
height: 326px;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsd9r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 66px;
width: 201px;
height: 215px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsd2f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
width: 121px;
height: 121px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 368px;
margin-top: 388px;
width: 427px;
height: 61px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsdum.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 66px;
height: 100%;
align-self: stretch;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 2.913333333333333em;
margin-left: 25px;
margin-top: 5px;
height: 0px;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 302px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 32px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 32px;
margin-top: 27px;
width: 20px;
height: 20px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 2.913333333333333em;
margin-top: 15px;
height: 0px;
align-self: center;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 1.6866666666666665em;
margin-left: 395px;
margin-top: 34px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-left: 537px;
margin-top: 329px;
width: 390px;
height: 390px;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsd9r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 79px;
width: 240px;
height: 258px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsd2f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
width: 145px;
height: 145px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-image: linear-gradient(180deg,#066bff 0%,#01b8ff 100%);
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
flex-direction: column;}
.artboard1container0row0 {
display: flex;
margin-left: 480px;
margin-top: 506px;
width: 557px;
height: 80px;}
.style11 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsdum.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 0px;
width: 86px;
height: 100%;
align-self: stretch;}
.style4 {
color: rgba(199,231,253,0.3019607961177826);
font-family: 'arial',serif;
font-size: 3.8000000000000003em;
margin-left: 32px;
margin-top: 6px;
height: 0px;}
.style8 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 394px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style9 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin-left: 42px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style10 {
background-color: #ffffff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
opacity: 0.3490196168422699;
margin-left: 42px;
margin-top: 35px;
width: 26px;
height: 26px;}
.style5 {
color: rgba(199,231,253,0.7490196228027344);
font-family: 'arial',serif;
font-size: 3.8000000000000003em;
margin-top: 19px;
height: 0px;
align-self: center;}
.style12 {
color: #ffffff;
font-family: 'arial',serif;
font-size: 2.2em;
margin-left: 515px;
margin-top: 45px;
height: 0px;}
.style2 {
background-color: #5cc1ff;
border-top-left-radius: 81px;
border-top-right-radius: 81px;
border-bottom-left-radius: 81px;
border-bottom-right-radius: 81px;
display: flex;
margin-left: 701px;
margin-top: 429px;
width: 509px;
height: 509px;
flex-direction: column;
justify-content: center;}
.style3 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsd9r.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 102px;
width: 314px;
height: 336px;}
.style1 {
background-image: url('https://designresources.assets.yotako.io/e7upykgs5jmrvsd2f.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 0px;
width: 189px;
height: 189px;
align-self: center;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
}